/* This is a CSS file */
.button{
   background: -moz-linear-gradient(top,#FFF 0%,#E6E6E6 );
    background: -webkit-gradient(linear, left top, left bottom, from(#00cc99 ), to(#009999 ));
    border: 2px solid #DDD;
    color: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: 1px 1px 1px rgba(000,000,000,0.3);
    -webkit-box-shadow: 1px 1px 1px rgba(000,000,000,0.3);
    width: 100px;
    padding: 10px 0;
  }
